@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
  font-family: 'Press Start 2P', sans-serif;
}

.text-shadow {
  text-shadow: 3px 3px 0px black;
}

.bg-opaque {
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(255, 255, 255, 0.8);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('https://static.vecteezy.com/system/resources/previews/036/022/208/original/pixel-art-illustration-farm-barn-pixelated-barn-farm-barn-background-landscape-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg');
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}